
*
.menu-bar
{
  background: rgb(0,100,0);
  text-aling: center;
}

.menu-bar ul
{
  display: inline-flex;
  list-style: none;
  color: #fff;
}

.menu-bar ul li
{
  width: 120px;
  margin: 15px;
  padding: 15px;
}
